@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

header {
    display: inline;
}

nav a {
    font-size: 18px;
    
    font-weight: 400;
    text-decoration: none;
    color: black;
    
}

nav a:hover {
    font-weight: bold;
}

h2, h3 {
    color: #000000;
    text-decoration: underline;
}

.profile header {
    text-align: center;
}

footer {
    padding: 20px;
    color: black;
    background-color: #FDD935;
    text-align: center;
    font-weight: bold;
}
.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(255, 208, 0, 0.2);
    flex-basis: 30%;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #FDD935;
    text-align: center;
    color: black;
}

nav {
    background-color: #8AA899;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.container {
    display: flex;

    width: 800px;
    height: 400px;
    
    
    padding: 10px;

    margin: 0 auto;
}
.box {
    flex-grow: 1;

    /* background-color: ; */
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
}


* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    img {
        flex-basis: 30%;
         width: 200px;
         height: 160px;
         padding: 10px;
         margin: 20px;
    }
}